# Required in base compose
POSTGRES_DB=taskmanagement
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Development defaults used by docker-compose.override.yml
OPENIDDICT_ENCRYPTION_KEY=DRjd/GnduI3Efzen9V9BvbNUfc/VKgXltV7Kbk9sMkY=
SWAGGER_CLIENT_SECRET=901564A5-E7FE-42CB-B10D-61EF6A8F3654
DEMO_PASSWORD=Demo123!
